# lokal databas
db/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Pytest cache and coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Test result logs
*.log

# VS Code settings
.vscode/

# macOS
.DS_Store
